---
layout: default
---
<div class="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>{{ page.heading }}</h4>
                <p><img class="img-responsive" src="{{ site.baseURL }}/{{ page.screenshotURL }}" alt="Screenshot of Costa"></p>
                <p>{{ page.description }}</p>
                <hr>
                <p><a href="{{ site.baseURL }}/{{ page.origin }}">Back</a></p>
            </div>
        </div>
    </div>
</div>